@font-face {
    font-family: 'DMT';
    src: url('../src/fonts/DMTLLVIPTrial-Regular.ttf') format('truetype'); /* Use 'truetype' for .ttf files */
    font-weight: normal;
    font-style: normal;
  }


/* /Users/clublevelaccess/Documents/design/dmt/src/fonts/DMTLLVIPTrial-Regular.ttf */