@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-rgb: 0, 0, 0;
  scroll-behavior: smooth;

  overflow-x: hidden;
  overflow-y: hidden;
}

@media (prefers-color-scheme: light) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}



body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}


@font-face {
  font-family: DMT;
  src: url(../fonts/DMTLLVIPTrial-Regular.ttf);
}

@font-face {
  font-family: Icono;
  src: url(../fonts/Iconografica.ttf);
}

a > div {
  opacity: 0;
  visibility: hidden;
  height: 0;
  transition: opacity 1s ease-in-out, visibility 1s ease-in-out, height 1s ease-in-out;
}

a:hover > div {
  opacity: 1;
  visibility: visible;
  height: auto; /* adjust as needed */
}


.link-animation {
  background: linear-gradient(90deg, transparent 50%, white 50%);
  background-size: 200% 100%;
  background-position: right;
  transition: all 0.5s ease-out;
}

.link-animation:hover {
  background-position: left;
  color: black;
}



@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
