@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-rgb: 0, 0, 0;
  scroll-behavior: smooth;

  overflow-x: hidden;
  overflow-y: hidden;
}

@media (prefers-color-scheme: light) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}



body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}


@font-face {
  font-family: DMT;
  src: url(../fonts/DMTLLVIPTrial-Regular.ttf);
}

@font-face {
  font-family: Icono;
  src: url(../fonts/Iconografica.ttf);
}

a>div {
  display: none;
}

a:hover>div {
  display: block;
}




@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
